@import url(../primeira-fase/style.css);

@media (max-width: 1400px) {
    .historia {
        margin-top: -40px;
    }
    .conteudoModal {
        font-size: 1.6rem;
        margin: 5% auto;
    }
}