@import "/style.css";

body {
    height: 100vh;
    width: 100vw;
    background-image: none;
    background-color: var(--verde-principal);
}

.content {
    display: flex;
    flex-direction: row;
}


#imagem-cenario {
    height: 612px;
    width: 612px;
    border-radius: 8px;
    border: 5px solid var(--cinza-principal);
    margin: 1%;
}

.objeto-imagem {
    margin-top: -30px;
    max-height: 180px;
}

.lateral {
    display: flex;
    flex-wrap: wrap;
    justify-content: fit;
    align-items: start;
    margin: 2% 2% 2% 0%;
}

.historia {
    margin-top: -60px;
    padding: 40px;
    font-size: 1.25em;
    text-align: center;
    background-color: var(--amarelo-principal);
    color: var(--cinza-principal);
    border-radius: 20px;
    border: 5px solid var(--cinza-principal);
}

.vidas {
    display: flex;
    width: 150px;
    align-items: flex-end;
    justify-content: space-around;
    margin-top: -10px;
    padding: 10px;
    font-size: 1.25em;
    background-color: var(--amarelo-principal);
    color: var(--cinza-principal);
    border-radius: 20px;
    border: 5px solid var(--cinza-principal);
}

.vidas img {
    max-width: 20px;
}

.objetos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.voltar {
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 200px;
    margin: 20px;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

@media (max-width: 1400px) {
    .lateral {
        margin: 1% 0.5% 0% 0.5%;
    }

    #imagem-cenario {
        margin: 0%;
        border-radius: 0%;
    }

    .historia {
        margin-top: -30px;
        max-width: 650px;
        padding: 30px;
    }

    .objeto-imagem {
        margin-top: -30px;
        max-height: 130px;
    }

    .voltar {
        position: absolute;
        left: 46%;
        bottom: -2%;
    }

    #botaoReproduzir {
        bottom: -2%;
    }

    .conteudoModal {
        font-size: 1.8rem;
        margin: 5% auto;
    }

    body {
        overflow: hidden;
    }
}